* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

.facebook-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    min-height: 80vh;
    margin: auto;
}

.account-logo img {
    height: 70px;
}

.account-label {
    padding-left: 20px;
    margin-bottom: 20px;
}

.account-label h2 {
    font-size: 2rem;
}

.account-label p {
    font-size: 1.1rem;
    color: rgb(110, 110, 110);
}

.account-recently {
    padding-left: 20px;
    display: flex;
}

.account-recently div {
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.account-recently div p {
    padding: 8px;
    font-size: 18px;
}

.account-perfil {
    margin-right: 20px;
}

.account-perfil p {
    color: rgb(85, 85, 85);
}

.account-new p {
    color: #1877F2;
}

.login-box {
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 22px;
    min-width: 400px;
}

.login-box input {
    width: 100%;
    padding: 14px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    margin-bottom: 14px;
    font-size: inherit;
}

.login-box input:focus {
    outline: none;
    border: 1px solid #1877F2;
}

.login-enter {
    width: 100%;
    background-color: #1877F2;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: inherit;
    font-weight: bold;
    border-radius: 8px;
}

.login-enter:hover {
    transition: 100ms;
    background-color: #1972e6;
}

.login-forget {
    color: #1877F2;
    text-align: center;
    margin: 14px;
    font-size: 1.1rem;
}

.login-forget:hover {
    text-decoration: underline;
}

.login-hr {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.login-create {
    margin-top: 20px;
    background-color: #42B72A;
    color: white;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

.login-create:hover {
    transition: 250ms;
    background-color: #3da528;
}

.login p {
    margin-top: 26px;
    text-align: center;
}

.emphasis {
    font-weight: bold;
}

@media (max-width: 992px) {
    .facebook-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
}